<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name = "author" content = "Koray Latif" />

        <link rel="stylesheet" href="../static/styles.css">

        <title>News Compiler</title>
    </head>
    <body>
        <!-- Template for a single article -->
        <template id="template_article">
            <div class="article">
                <h4 id="template_title"></h4>
                <img id="template_image" alt="" src="">
                <p id="template_src"></p>
            </div>
        </template>

        <!-- Template for a single column | articles are put into columns -->
        <template id="template_column">
            <div class="column" id="column">
                <!-- Articles will be placed here -->
            </div>
        </template>

        <main>
            <!-- Top Menu -->
            <div id="menu">
                <h1>News Compiler</h1>
            </div>

            <div class="articles">
                <!-- Columns will be placed here -->
            </div>
        </main>

        <script type = "module" src="../static/script.js"> </script>
    </body>
</html>